<div class="aware-wrapper bg-orange game-show">

  <h2>Nom de la mission : <%= @game.challenge.mission.title %></h2>

  <h1>Grâce à cette mission tu développeras ces compétences</h1>


  <div class="container">

    <% @game.game_skills.each do |gskill| %>
      <div class="row">
        <div class="col-xs-4">
          <p class="game-show"><%= gskill.skill.title %></p>
        </div>
      <!--   <div class="col-xs-6 rating"><%= gskill.rating %></div> -->
      <div class="col-xs-6 rating">
        .
      </div>
          <%= link_to "https://www.facebook.com/messages/t/566298426", target: :_blank  do %>
            HELP!
          <% end %>
         </div>
    <% end %>

  </div>



  <% if @game.constraint %>

    <h2>VOICI LE DESCRIPTIF DE TA MISSION</h2>

    <p>Tu dois travailler sur le storytelling d'un "vlog" avec comme contrainte :</p>
    <p>contrainte: <%= @game.constraint.title %></p>
    <p>A toi de jouer!</p>
  <% else %>
  <!-- Button trigger modal -->
    <h2>HÉHÉ TU VEUX ÊTRE UN WINNER ?</h2>
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
      CLIC ICI!
    </button>
  <% end %>

<div class="container" style="margin-top: 50px;">
    <div class="share-links">
  <a href="#" class="share-link bg-facebook">
    <i class="fa fa-facebook"></i>
  </a>
  <a href="#" class="share-link bg-twitter">
    <i class="fa fa-twitter"></i>
  </a>
  <a href="#" class="share-link bg-email">
    <i class="fa fa-envelope-o"></i>
  </a>
  <a href="#" class="share-link bg-text">
    <i class="fa fa-mobile"></i>
  </a>
</div>
</div>


</div>

  <!-- Modal -->
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <h5 class="modal-title" id="exampleModalLabel">Chiche ou pas chiche</h5>
          <p>de mettre ça dans ton challenge ?</p>
        </div>
        <div class="modal-body">

          <%= simple_form_for @game do |f| %>
            <% @game.challenge.constraints.each do |constraint| %>
              <%= f.button :submit, constraint.title %>
            <% end %>
          <% end %>

        </div>
      </div>
    </div>
  </div>

