<div class="aware-wrapper bg-orange game-show">

  <h2>Nom de la mission : <%= @game.challenge.mission.title %></h2>

  <h1>Grâce à cette mission tu développeras ces compétences</h1>


  <div class="container">

    <% @game.game_skills.each do |gskill| %>
      <div class="row">
        <div class="col-xs-4">
          <h2><%= gskill.skill.title %></h2>
        </div>
        <div class="col-xs-6"><%= gskill.rating %></div>
          <%= link_to "https://www.facebook.com/messages/t/566298426", target: :_blank  do %>
            HELP!
          <% end %>
         </div>
    <% end %>

  </div>



  <% if @game.constraint %>
    <p>contrainte: <%= @game.constraint.title %></p>
    <p>A toi de jouer!</p>
  <% else %>
  <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
      Launch demo modal
    </button>
  <% end %>

  <!-- Modal -->
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <h5 class="modal-title" id="exampleModalLabel">Chiche ou pas chiche</h5>
          <p>de mettre ça dans ton challenge ?</p>
        </div>
        <div class="modal-body">

          <%= simple_form_for @game do |f| %>
            <% @game.challenge.constraints.each do |constraint| %>
              <%= f.button :submit, constraint.title %>
            <% end %>
          <% end %>

        </div>
      </div>
    </div>
  </div>
</div>
